.Button {
    background-color: #98c956; 
    border-radius: 9999px !important;
    border-color: #98c956;
    color: #fff;
    height: 35px;
    width: 150px;
    padding: 0.25rem 2rem;
    text-decoration: none;
    text-transform: UpperCase;
    font-family: "cubano", sans-serif;
    float: left;
 }