.Footer{
    background-color: #ffffff;
    width: 100%;

}

.logomain {
    position: relative;
    align-items:center;
    float:inherit;
}

.backgroundImage {
    /* background-image: url(../../../../assets/images/kalinago-barana-aute.jpg); */
    background-attachment: fixed;
    background-size: cover;
    background-position: relative;
    background-repeat: no-repeat;
    /*height: 100vh;
    display: block;
    width: 100;
    align-items: center;
     */
  
}