.Jumbotron {
    color: #000000;
    text-align:left;
   

}

.display {
    font-size:50px;
    text-align: left;
}

.backgroundImage {
    background-image: url(../../../../assets/images/diving-trips-itinerary.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*height: 100vh;
    display: block;
    width: 100;
    align-items: center;
     */
  
}